*{
	box-sizing: border-box;
}


body{
	font-family: 'Open Sans', Arial, sans-serif;
	background: black;
}

.wrapper {
	width: 320px;
	margin: 0 auto;
	background-color: #f0f2f5;
}

.menu {
	background-color: white;
	padding: 8px;
	border-bottom: 2px solid #e2e4e7;
	margin-bottom: 16px;
}

.site-name {
	font-size: 16px;
	color: #8cc152;
	text-transform: uppercase;
	float: left;
	width: 120px;
	margin: 0;
	text-align: center;
	font-style: italic;
	font-weight: normal;
}

.site-name::before {
	float: left;
	content: '';
	display: inline-block;
	background-image: url(image/sprite.png);
	width: 48px;
	height: 48px;
	background-position: 0 0;
}


.menu__btn {
	background-color: white;
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 1px solid #aab2bd;
	border-radius: 4px;
}

.menu__search {
	margin-left: 65px;
}

.menu__text {
	margin-left: 18px;
}

.btn__img {
	display: inline-block;
	margin: 9px;
	background-image: url(image/sprite.png);
	width: 28px;
	height: 28px;	
}

.img__search {
	background-position: -54px -11px;	
}

.img__text {
	background-position: -86px -11px;	
}

				 /*MAIN */

.content {

}

.empty {
	height: 128px;
	background-color: #ff6d55;
	border-radius: 4px;
	margin: 0 8px 22px 8px;
}

.sign {
	border-radius: 4px;
	box-shadow: 0 2px #e2e4e7;
	width: 142px;
	margin: 8px;
	background-color: white;
	display: inline-block;
}

.sign__odd {
	float: left;
}

.sign__caption {
	color: #434a54;
	font-size: 24px;
	margin: 6px 13px 6px 16px;
	font-weight: normal;
}

.sign__cost {
	padding: 0;
	margin: 6px 13px 6px 16px;
	font-size: 16px;
}

.cost__individual {
	color: #fc6e51;
}

.cost__group {
	color: #55c1e7;
}


.sign__condition {
	color: #aab2bd;
	font-size: 12px;
	padding: 0;
	margin: 6px 13px 6px 16px;
	min-height: 36px;
}

.sign__on {
	margin: 0;
}

.sign__link {
	display: block;	
	width: 100%;
	font-size: 14px;
	color: white;
	
	text-decoration: none;
	text-transform: uppercase;
	background-color: #aab2bd;
	margin: 0;
	text-align: center;
	border-radius: 0 0 4px 4px;
	/*padding: 8px 0;*/
	line-height: 2;
	}


.umbrella {
	clear: both;
	border-radius: 4px;
	background-color: white;
	border-bottom: 2px solid #e2e4e7;
}

.umbrella__man {
	margin: 76px 8px 60px 8px;
}

.foto {
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 50%;
	margin: 0 auto;
	/*margin: -30px 0 0 110px;*/
	display: block;
	margin-top: -30px;
}

.umbrella__flower {
	margin: 0 8px 32px 8px;
}

.comments {
	list-style-type: none;
	padding: 18px 0 28px 0;
	margin: 0;
}

.comments__list {
	display: inline-block;
	color: #aab2bd;
	font-size: 11px;
}

.comments__time {
	margin-right: 12px;
}

.comments__time::before {
	content: '';
	display: inline-block;
	background-image: url(image/sprite.png);
	background-position: -116px -16px;
	width: 22px;
	height: 22px;
	float: left;
}

.comments__review::before {
	content: '';
	display: inline-block;
	background-image: url(image/sprite.png);
	background-position: -142px -16px;
	width: 22px;
	height: 22px;
	float: left;
}

.article__caption {
	padding: 0;
	margin: 0 0 16px 0;
	text-align: center;
	font-size: 18px;
	color: #434a54;
}

.article__info {
	margin: 0 0 30px 0;
	color: #aab2bd;
	font-size: 13px;
	padding: 0 16px;
}

 				 /*footer*/

 .footer {
 	background-color: #e6e9ed;
 	padding: 30px 0;
 }			 

 .copyright {
 	color: #aab2bd;
	font-size: 13px;
	padding: 0;
	margin: 0 10px 0 164px;
 }